img{
    width:300;
    border:5px solid blue;
    border-radius: 200px;

}
head{
    direction:rtl;
	text-align: center;
}
body{
    direction:rtl;
	text-align: center;
	border: 5px solid #ccc;
	border-color: blue;
	background-color: lightyellow;
}
p{
      
    color:black;
    font:Ariel;
    width:80%;
	font-size:25;
	text-align: center;
	
}
li{
    color:green;
	font-size:25;
	
	  
}

h1{
  
    color:green;
}
.red{
    color:red;

	
    
}


.nav {
  background: white; 
  text-align: center;
  list-style-type:none;
  
}
a{
  text direction none;
  padding:6px;
  border  radius 8px; 
  color white;
  background: black;
  border: 1px solid black;
  
  
}
a:hover{
  background: lightslategray; 
  text-align: center;
  padding:10px;
  border: 2px solid black;
  
}

.nav li {
  display: inline-block;
  font-size: 50px;
  padding: 20px;
 
}

video {
  width: auto;
  height: 80%;
  border: 2px solid #ccc;
  border-color: blue;
  
}
