







body{

    direction:rtl;
    unicode-bidi: bidi-override;   
    background-image: url("image/photo_2022-02-07_22-44-20.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;	
    
}

a{
text direction none;
padding:6px;

  font-size:50;
    color:black;
    font:Ariel;
    background-color: lightblue; 
	border-radius:8px;
	
	
  
}
a:hover{
background: lightslategray; 
  text-align: center;
  padding:10px;
  border: 2px solid black;
}

h1{
    text-shadow: 2px 2px 5px red;
   color: white;
   font-size: 120;
   
}
