head{
    direction:rtl;
	
}
body{
    direction:rtl;
	text-align: center;
	border: 5px solid #ccc;
	border-color: blue;
	background-color: lightyellow;
	
	
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
p{
      
    color:black;
    font:Ariel;
    width:80%;
	font-size:25;
	text-align: center;
	
}
li{
    color:green;
	font-size:25;
	
	  
}

h1{
  
    color:green;
}
.red{
    color:red;

	
    
}


.nav 
  background: white; 
  text-align: center;
  list-style-type:none;
  

a
  text direction none;
  padding:6px;
  border  radius 8px; 
  color white;
  background: black;
  border: 1px solid black;
  
  

a:hover
  background: lightslategray; 
  text-align: center;
  padding:10px;
  border: 2px solid black;
  


.nav li {
  display: inline-block;
  font-size: 50px;
  padding: 20px;
 
}

video {
  width: auto;
  height: 80%;
  border: 2px solid #ccc;
  border-color: blue;
  
}
*
{
	padding: 0;
	margin: 0;
	box-sizing:border-box;
	
}
.menu-bar{
	background:rgb(0,100,0);
	text-align:center;
}
.menu-bar ul{
	display:inline-flex;
	list-style:none;
	color:#fff;
}
.menu-bar ul li{
	width:150px;
	margin:15px;
	padding:15px:
}
.menu-bar ul li a{
	text-decoration:none;
	color:#fff;
	
}
.active,.menu-bar ul li:hover
{
	background:#2bab0d;
	border-radius:3px;
}
.menu-bar .fa
{
	margin-right:8px;
}
.sub-menu-1{
	display:none;
	
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:rgb(0,100,0);
	margin-top:15px;
	margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
	display:block;
	margin:10px;
	
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom:none;
	
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color:#b2ff00
}